.home_wrapper {
  background-color: var(--primary-dark);
  padding: 50px 0;
  height: 600px;
  border-radius: 0 0 100px 100px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content h1 {
  color: var(--pure);
  font-size: 50px;
  font-style: normal;
  letter-spacing: 1px;
  line-height: 1.3;
}
.content h1 span {
  color: var(--gray);
  font-weight: 400;
  display: block;
}
.content p {
  color: var(--gray);
  margin-top: 10px;
}

.apps {
  margin-top: 90px;
}
.apps span {
  color: var(--pure);
}
.stores {
  margin-top: 20px;
}

.stores img {
  width: 150px;
  margin-right: 20px;
}

.creativity {
  height: 620px;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.creativity img {
  height: 100%;
  width: 100%;
  z-index: 1000;
}

.creativity::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/images/background-wave.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 800px 1000px;
  animation: anim 15s linear infinite;
}

@keyframes anim {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}
